body { margin:0; background:#eef2e6; font-family:-apple-system,sans-serif; color:#324728 }
main { max-width:760px; padding:60px 35px; margin:auto }
h1 { font-size:36px } p { line-height:2 } td { border:1px solid #9caa88;padding:15px }
